<%= form_for(@plot) do |f| %>
  <%= cloudinary_js_config %>
  <p>Current Image:
    <img src=<%=@plot.image %>>
    <p>Upload a New Image:</p>
    <%= cl_image_upload(:image,
                        :crop => :fill,
                        :width => 200,
                        :height => 200) %>
  </p>
  <%= f.submit "Update Image" %>
<% end %>

<% @plot.plants.each do |plant| %>
<% @plot_plant_id = PlotPlant.where(plant_id: plant.id,
                                 plot_id: @plot.id).first.id.to_s %>
  <p><%= plant.name %></p>
  <li><%= plant.description %></li>
  <%= link_to "Remove This Plant",
              "/plot_plants/" + @plot_plant_id,
              method: :delete,
              data: {confirm: "Are you sure you wish to remove this plant from this plot?"} %>
<% end %>

<button data-target="plant_index" class="btn modal-trigger">Add a Plant</button>

<%= react_component("PlantIndex", plants: @plants, plot: @plot) %>
