<div class="edit-plot-form">
  <div class="row">
    <h2>Plot Number <%= @plot.plot_number %></h2>
    <section class="user-plant-list col s12">
      <p><h4 class="plants-in-plot">Plants in this plot: </h4>
        <%= react_component("UserPlantList", allPlants: @plants,
                            plot: @plot, plants: @user_plants,
                            plotPlants: PlotPlant.where(plot_id: @plot.id)) %>
      </p>
    </section>
  </div>
  <section class="edit-plot-image row">
    <h4 class="col s12 new-image">Upload a New Plot Image:</h4>
    <div class="col s12 m6">
      <%= form_for(@plot) do |f| %>
        <%= cl_image_upload(:image,
                            :crop => :fill,
                            :width => 200,
                            :height => 200) %>
        <div class="preview">
          <p class="col s6">(A preview of the new image will appear here. Please wait to push the 'UPDATE IMAGE' button until the preview appears.)</p>
        </div>
      <button class="btn update-image-btn">Update Image</button>
      <% end %>
    </div>
    <div class="col s12 m6 current-image">
      <p class="current-plot-image">Current Image:
        <img class="cur-img" src=<%=@plot.image %>>
      </p>
    </div>
  </section>


</div>
