<%= form_for(@plot) do |f| %>
  <%= cloudinary_js_config %>
  <p>Current Image:
    <img src=<%=@plot.image %>>
    <p>Upload a New Image:</p>
    <%= cl_image_upload(:image,
                        :crop => :fill,
                        :width => 200,
                        :height => 200) %>
  </p>
  <%= f.submit "Submit" %>
<% end %>

<button data-target="plant_index" class="btn modal-trigger">Add a Plant</button>

<%= react_component("PlantIndex", plants: @plants) %>
