<%= form_for(@plot) do |f| %>
  <%= cloudinary_js_config %>
  <p>Current Image:
    <img src=<%=@plot.image %>>
    <p>Upload a New Image:</p>
    <%= cl_image_upload(:image,
                        :crop => :fill,
                        :width => 200,
                        :height => 200) %>
  </p>
  <%= f.submit "Update Image" %>
<% end %>
<p><h4 class="plants-in-plot">Plants in this plot: </h4>
  <button data-target="plant_index" class="btn modal-trigger">Add a Plant</button>
</p>
<%= react_component("UserPlantList", allPlants: @plants, plot: @plot, plants: @user_plants, plotPlants: PlotPlant.where(plot_id: @plot.id)) %>
