<h2>Sign Up</h2>
<%= form_for(@user) do |f| %>
  <p> <%= f.label :first_name, "First Name" %> <%= f.text_field :first_name %> </p>
  <p> <%= f.label :last_name, "Last Name" %> <%= f.text_field :last_name %> </p>
  <p> <%= f.label :email, "Email" %> <%= f.text_field :email%> </p>
  <p> <%= f.label :password, "Password" %> <%= f.password_field :password %> </p>
  <p> <%= f.label :password_confirmation, "Confirm Password" %> <%= f.password_field :password_confirmation %> </p>
  <p> <%= f.submit "Sign Up!" %> </p>
<% end %>
