<h2><%= @user.full_name %>'s Account</h2>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<%= link_to "Edit", "/users/#{@user.id}/edit" %>
