<!DOCTYPE html>
<html>
<head>
  <title>CGM</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
      <%= react_component("LoggedInNavigation", user_id: current_user.id) %>
    <% else %>
      <%= react_component("LoggedOutNavigation") %>
    <% end %>
  </header>
  <% if notice %>
    <div class="notice">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert">
      <%= alert %>
    </div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    CGM was created by <a href="https://twitter.com/mlgiardina">@mlgiardina</a>.
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>

</body>
</html>
